.wrapper {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.thumbnail {
  position: relative;
}
.thumbnail:hover .thumb-options {
  opacity: 1;
}

.thumb-options {
  background-color: #0000004d;
  opacity: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.view {
  color: rgb(25, 93, 211);
  cursor: pointer;
}
